---
import CardModul from "../components/CardModul.jsx";
import MainLayout from "../layouts/MainLayout.astro";
import BG from "/assets/Mask-group.png";
---

<MainLayout title="Modul">
  <div class="p-4">
    <img
      src={BG}
      alt="MySekolah Kripto"
      class="absolute -mt-[15%] rotate-180 w-full left-0 lg:block hidden -z-20"
    />
    <img
      src={BG}
      alt="MySekolah Kripto"
      class="absolute mt-[100%]rotate-180 left-0 h-[550px] sm:block md:hidden -z-20"
    />
    <section
      class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 text-white"
    >
      <div class="flex flex-wrap items-center mx-auto max-w-7xl">
        <h1
          class="text-4xl text-center font-bold leading-none text-white md:text-6xl lg:text-6xl"
        >
          Meneroka Potensi Teknologi Web3 dan Blockchain
        </h1>
        <p
          class="mb-8 mt-5 text-base leading-relaxed text-center text-jacarta-200"
        >
          Membuka pintu menuju pembelajaran yang membolehkan anda untuk
          memahami, menguasai, dan berinovasi dalam teknologi web3 yang sedang
          berkembang dengan kursus-kursus terkini dari Kampus SekolahKripto!
        </p>
        <h2>Gambaran tentang modul ini</h2>
        <p>Kursus Pengenalan kepada Teknologi Blockchain adalah langkah pertama anda ke dalam dunia web3. Dalam kursus ini, 
          anda akan mempelajari asas-asas blockchain, konsep yang utama untuk teknologi ini. </p>
        <p>  Anda akan meneroka pelbagai kegunaan blockchain yang mengubah industri, 
          memahami kelebihan dan kekurangan, serta pertimbangan keselamatan dan privasi. </p>
          
          <p>Direka bentuk untuk semua peringkat pemahaman, kursus ini menggunakan kaedah pembelajaran interaktif dan praktikal, 
          yang melibatkan kajian kes dan projek dunia sebenar. Setelah selesai, anda akan mempunyai asas yang kukuh dalam teknologi 
          blockchain dan pemahaman tentang bagaimana ia akan membentuk masa depan industri.</p> 
          
          <p>Sertai sekarang untuk mengakses pengetahuan 
          terkini dan membuka pintu kepada peluang baharu dalam dunia web3 dan teknologi blockchain.</p>
      </div>
    </section>
  </div>
</MainLayout>
