---
const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Blog pages">
    <div class="flex gap-5">
        {
            prevUrl && (
                <a
                    href={prevUrl}
                    class="flex items-center justify-center w-32 rounded-full  bg-white py-3 px-5 text-center font-semibold text-accent shadow-white-volume transition-all hover:bg-accent-dark hover:text-white hover:shadow-accent-volume"
                >
                    <span class="mr-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-5 h-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"
                            />
                        </svg>
                    </span>
                    Previous
                </a>
            )
        }
        {
            nextUrl && (
                <a
                    href={nextUrl}
                    class="flex items-center justify-center w-28 rounded-full bg-accent py-3 px-5 text-base text-center font-semibold text-white shadow-accent-volume transition-all hover:bg-accent-dark"
                >
                    Next
                    <span class="ml-2">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-5 h-5"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
                            />
                        </svg>
                    </span>
                </a>
            )
        }
    </div>
</nav>
